.box-1 {
    width: 100%;
    height: 80px;
    background-color: #232536;
}

.Finsweet__text {
    margin-left: 200px;
    color: #fff;
}

.box1__list {
    width: 600px;
    padding: 1.5%;
    list-style: none;
    display: flex;
    justify-content: end;
    margin-left: 300px;
    gap: 5%;
}

.box1__link {
    color: #ffffff;
    opacity: 0.5;
}

.box1__container {
    display: flex;
}

.box1__linkk {
    color: #fff;
}

.box1__linke {
    color: #FFD3AF;
}

.box2__career {
    font-size: 15px;
    text-align: center;
    margin-top: 100px;
}

.box2__text {
    width: 410px;
    text-align: center;
    margin-left: 535px;
}

.box2__text1 {
    width: 510px;
    text-align: center;
    margin-left: 490px;
}

.carreers {
    width: 700px;
    margin-left: 390px;
    margin-top: 3%;
}

.box2__positions {
  text-align: center;
  margin-top: 4%;
}

.box2__stiker {
    text-align: center;
}

.box3__container {
    width: 354px;
height: 243px;
background-color: #b9df52;
margin-left: 5%;
text-align: center;
}

.yonma_yon {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.box_4 {
    margin-left: 11%;
    margin-top: 10%;
}

.box4__text {
    width: 430px;
}
.box4__text2 {
    width: 480px;
    opacity: 0.5;
}

.box__4 {
    width: 354px;
    height: 243px;
    background-color: #ece85a;
    text-align: center;
    margin-top: 5%;
}

.yonma_yonn {
    display: flex;
    gap: 7%;
}

.box-5 {
    width: 85.5%;
    height: 300px;
    background-color: #666DFF;
    margin-left: 11%;
    margin-top: 15%;
}

.box5d {
    width: 380px;
    color: #fff;
    padding: 80px;
}

.input {
    width: 454px;
    height: 44px;
    background-color: #fefffc;
    margin-top: 10%;
    border:  none;
    padding: 10px;
}
.yon {
    display: flex;
}

.box6__container {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    gap: 10%;
}

.letsMake {
    width: 200px;
    margin-left: -50%;
}


.box-7 {
    width: 100%;
    height: 70px;
    background-color: #FFE6D2;
    margin-top: 3%;
}

.oxirgi {
    display: flex;
    margin-left: 10.5%;
    gap: 4%;
}
.finsweet02021 {
    margin-top:2%;
}